*{
    background-size: cover; /* або contain, в залежності від потреб */
    background-position: center;
    margin: 0 auto; /* Центрування по горизонталі */
    width: 300px;
    height: 100px;/* Встановіть ширину елемента */
}